.container {
    background-color: white;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 10px;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.upperBlock {
    border: 0.1px solid;
    display: flex;
    justify-content: space-around;
}

.close {
    flex-grow: 0.5;
    align-content: flex-end;
    margin-top: 16px;
}

.check {
    text-decoration-color: black;
    font-weight: bold;
    margin-top: 20px;
    flex-grow: 7;
    margin-left: 19px;
}

#pay {
    font-weight: bold;
}

.lowerBlock {
    display: flex;
    justify-content: space-around;
}

#lowerBlock1 {
    margin: 1em;
    flex: 1.7;
}

#lowerBlock2 {
    background-color: rgb(246, 251, 255);
    padding: 1em;
    flex: 1;
}

#button {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

.flex-list {
    flex: 2;
    display: flex;
    position: relative;
    margin: 1em;
    overflow: hidden;
}

.flex-list ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}

.flex-list li:after {
    content: "/";
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
}

.flex-list li:last-child:after {
    content: "";
}

.upperBlock2 {
    flex-grow: 20;
}

.wallet-header h4 {
    border-bottom: 1px solid grey;
}

.newCard-header h4 {
    border-bottom: 1px solid grey;
}

.wallet-images {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.wallet-images img {
    width: 30%;
    height: 130px;
}

.newCard-input {
    display: flex;
    justify-content: center;
}

.newCard-input input {
    height: 33px;
}

.flex-list-card li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-list-card li input {
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 279px;
}

.DateCvv {
    display: flex;
}

.DateCvv li input {
    width: 132px;
    margin-right: 10px;
}

.submit {
    margin-top: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cart-item div img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 7px solid lightgray;
}

.cart-item {
    display: flex;
    justify-content: space-between;
}

small {
    font-size: smaller;
}

.cart-item div h4 {
    font-weight: bolder;
}

.cart-item-content {
    flex: 4;
    justify-content: left;
}

.subtotal {
    display: flex;
    justify-content: space-between;
}

.subtotal>div>h6 {
    margin-bottom: 5px;
    font-size: 13px;
    text-align: right;
}

.grandtotal {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.total {
    margin-top: 60px;
}

.price {
    text-align: right;
    font-size: 12px;
}

.super-container {
    background-image: url("../images/cards/background.jpg");
    background-size: contain;
    border: 1px solid white;
    padding-bottom: 50px;
}